{% extends "base.html.twig" %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/Profile/style.css') }}">
{% endblock %}

{% block body %}

    <div class="link-path">
        <span><a href="{{ path('index') }}"><i class="fas fa-home"></i> Accueil</a> > Mon profil</span>
    </div>
    <div class="profile-page">
        {% if is_granted('ROLE_USER') %}    
            <div class="profile-section">
                <div class="title-path">
                    <div class="head-title">
                        <h1>Mon profil</h1>
                    </div>
                </div>
                <span class="separator"></span>
                <div class="app_flashes">
                    {% for message in app.flashes('cancel_success') %}
                        {{ message }}
                    {% endfor %}
                </div>
                <div class="profile-parts">
                    <div class="profile-title">
                        <h2>Mes informations</h2>
                        {% if is_granted("ROLE_PREMIUM") %}
                            <span class="premium">Premium</span>
                        {% endif %}
                    </div>
                    <div class="profile-separator"></div>
                    <div class="informations">
                        {% for message in app.flashes('profile_edit_success') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                        {{ form_start(formUser) }}
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formUser.pseudo) }}    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col side-side">
                                    {{ form_row(formUser.fname) }}
                                    {{ form_row(formUser.name) }}
                                </div>
                            </div>                       
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formUser.email) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formUser.birthDate) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formUser.password) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formUser.password) }}
                                </div>
                            </div>
                            <div class="valid-btn">
                                <button type="submit" class="btn valid-btn">Enregistrer</button>
                            </div>
                        {{ form_end(formUser) }}
                    </div>
                    <div class="cancel_delete">
                        {% if is_granted('ROLE_PREMIUM') %}
                            <a href="{{ path('profile_cancel') }}">
                                <span class="p_button">Résilier l'abonnement</a>
                            </a>
                        {% endif %}
                        <a href="{{ path('profile_delete') }}">
                            <span class="delete p_button">Supprimer le profil</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}