{% extends 'adminBase.html.twig' %}

{% block title %}Grammar{% endblock %}

{% block body %}
<div class="row d-flex">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex justify-content-end">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_grammar_index') }}">Grammaires</a></li>
            <li class="breadcrumb-item active" aria-current="page">Détails</li>
        </ol>
    </nav>
</div>
    <h1>Détails grammaire</h1>
    <div class="col d-flex d-inline">
    <a href="{{ path('admin_grammar_index') }}"><button class="btn btn-outline-info px-4"><i class="fas fa-undo-alt"></i></button></a>

    <a href="{{ path('admin_grammar_edit', {'id': grammar.id}) }}"><button class="btn btn-outline-warning px-4 mx-2"><i class="far fa-edit"></i></button></a>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ grammar.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ grammar.title }}</td>
            </tr>
            <tr>
                <th>Lettre</th>
                <td>{{ grammar.letter.symbol }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ grammar.category.name }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ grammar.level.name }}</td>
            </tr>
        </tbody>
    </table>


    {{ include('Admin/admin_grammar/_delete_form.html.twig') }}
{% endblock %}
