{% extends 'adminBase.html.twig' %}

{% block title %}Letter{% endblock %}

{% block body %}
<div class="row d-flex">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex justify-content-end">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_letter_index') }}">Lettres</a></li>
            <li class="breadcrumb-item active" aria-current="page">Détails</li>
        </ol>
    </nav>
</div>
    <h1>Détails lettre</h1>
    <div class="col d-flex d-inline">
        <a href="{{ path('admin_letter_index') }}"><button class="btn btn-outline-info px-4"><i class="fas fa-undo-alt"></i></button></a>
        <a href="{{ path('admin_letter_edit', {'id': letter.id}) }}"><button class="btn btn-outline-warning px-4 mx-2"><i class="far fa-edit"></i></button></a>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ letter.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ letter.name }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ letter.symbol }}</td>
            </tr>
        </tbody>
    </table>


    {{ include('Admin/admin_letter/_delete_form.html.twig') }}
{% endblock %}
