{{ form_start(form) }}
    <div class="col my-4 d-flex flex-column">
        {{ form_label(form.content)}}
        {{ form_widget(form.content) }}
    </div>
    <div class="col my-4">
        {{ form_label(form.meaning)}}
        {{ form_widget(form.meaning) }}
    </div>
    <button class="btn btn-outline-success px-4"><i class="far fa-check-circle"></i></button>
{{ form_end(form) }}
