{% extends 'base.html.twig' %}

{% block title %}Example index{% endblock %}

{% block body %}
    <h1>Example index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for example in examples %}
            <tr>
                <td>{{ example.id }}</td>
                <td>{{ example.content }}</td>
                <td>
                    <a href="{{ path('admin_example_show', {'id': example.id}) }}">show</a>
                    <a href="{{ path('admin_example_edit', {'id': example.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_example_new') }}">Create new</a>
{% endblock %}
