{% extends 'adminBase.html.twig' %}

{% block title %}Example{% endblock %}

{% block body %}
<div class="row d-flex">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex justify-content-end">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_example_index') }}">Exemples</a></li>
            <li class="breadcrumb-item active" aria-current="page">Détails</li>
        </ol>
    </nav>
</div>
    <h1>Détails exemple</h1>
    <a href="{{ path('admin_example_index') }}"><button class="btn btn-outline-info px-4"><i class="fas fa-undo-alt"></i></button></a>

    <a href="{{ path('admin_example_edit', {'id': example.id}) }}"><button class="btn btn-outline-warning px-4"><i class="far fa-edit"></i></button></a>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ example.id }}</td>
            </tr>
            <tr>
                <th>Grammaire</th>
                <td>{{ example.meaning.grammar.title }}</td>
            </tr>
            <tr>
                <th>Signification</th>
                <td>{{ example.meaning. content }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ example.content }}</td>
            </tr>
        </tbody>
    </table>


    {{ include('Admin/admin_example/_delete_form.html.twig') }}
{% endblock %}
