{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Search/style.css') }}">
{% endblock %}

{% block body %}
    <div class="link-path">
        <span><a href="{{ path('index')}}"><i class="fas fa-home"></i> Accueil</a> > <a href="{{ path('grammar') }}">Grammaire</a> > <span class="kr">{{ level.name }}</span></span>
    </div>

    <div class="search-page">
        <div class="search-section">
            <div class="title-path">
                <div class="head-title">
                    <h1>Grammaire de niveau {{ level.name }}</h1>
                </div>
            </div>
            <span class="separator"></span>
            <div class="grammar-categories-section">
                <div class="classification-section">
                    <div class="classification-section-title">
                        <h3>Par catégories</h3>
                    </div>
                    {% for category in categories %}
                        <div class="grammar-classification">
                            <div class="category-title">
                                <h4><a href="{{ path('search_gCategory', {id: category.id}) }}">{{ category.name }}</a></h4>
                                <div class="see-more" onclick="seeMore('{{ category.name }}')">Voir plus <i class="fas fa-sort-down"></i></div>
                            </div>
                            <div class="categories-separator"></div>
                            <div class="classification">
                                <div id="{{ category.name }}" style="display:none;">
                                    <div class="classification-body kr">
                                    {% for grammar in grammars %}
                                        {% if grammar.category.name == category.name and grammar.level.name == level.name %}
                                            <a href="{{ path('show_grammar', {id: grammar.id }) }}">{{ grammar.title }}</a>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}