{% extends "base.html.twig" %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/Contact/style.css') }}">
{% endblock %}

{% block body %}

    <div class="link-path">
        <span><a href="{{ path('index') }}"><i class="fas fa-home"></i> Accueil</a> > Contact</span>
    </div>
    <div class="contact">
        <div class="contact-section">
            <div class="title-path">
                <div class="head-title">
                    <h1>Contact</h1>
                </div>
            </div>
            <span class="separator"></span>
            {% for message in app.flashes('contact_success') %}
                <div class="flash-message">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %} 
            <small class="become-professor">Si vous souhaitez devenir professeur et ainsi participer à la création d'exercices afin d'aider les apprenants, veuillez soumettre votre candidature via cette page de contact.</small>
            <div class="form-section">
                <div id="contact-form">
                    {{ form_start(form) }}
                        <div class="block">
                            {{ form_row(form.name, {
                                label: 'Nom'
                            }) }}
                            {{ form_row(form.email, {
                                label: 'Email'
                            }) }}
                            {{ form_row(form.subject, {
                                label: 'Sujet'
                            }) }}
                            {{ form_row(form.message) }}
                        </div>
                        <div class="valid-btn">
                            <button type="submit" class="btn valid-btn">Envoyer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}