{% extends 'adminBase.html.twig' %}

{% block title %}UserAnswer index{% endblock %}

{% block body %}
<div class="row d-flex">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex justify-content-end">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Réponses utilisateur</li>
        </ol>
    </nav>
</div>
    <h1>Réponses des utilisateurs</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Utilisateur</th>
                <th>Grammaire</th>
                <th>Exercice</th>
                <th>Question</th>
                <th>Réponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_answer in user_answers %}
            <tr>
                <td>{{ user_answer.id }}</td>
                <td>{{ user_answer.user }}</td>
                <td>{{ user_answer.question.exercice.grammar.title }}</td>
                <td>{{ user_answer.question.exercice.title }}</td>
                <td>{{ user_answer.question.content }}</td>
                <td>{{ user_answer.answer.id }} - {{ user_answer.answer.content }}</td>
                <td class="d-flex d-inline">
                    {{ include('Admin/admin_user_answer/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
