{{ form_start(form) }}
    <div class="col my-4">
        {{ form_label(form.exercice) }}
        {{ form_widget(form.exercice) }}
    </div>
    <div class="col my-4">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
    </div>
    <button class="btn btn-outline-success px-4"><i class="far fa-check-circle"></i></button>
{{ form_end(form) }}
