<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- troisième-génération iPad avec haute-résolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('img/hanbeop-logo-mini.png') }}">
    <!-- iPhone avec haute-résolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('img/hanbeop-logo-mini.png') }}">
    <!-- iPad de première et deuxième génération : -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('img/hanbeop-logo-mini.png') }}">
    <!-- iPhone non-Retina, iPod Touch et appareils Android 2.1+: -->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('img/hanbeop-logo-mini.png') }}">
    <!-- favicône de base -->
    <link rel="shortcut icon" href="{{ asset('img/hanbeop-logo-mini.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/Admin/style.css') }}">
    <title>Hanbeop Admin</title>
</head>
<body>
    {% include "includes/admin/_adminNavbar.html.twig" %}

    <div class="container">
        {% block body %}{% endblock %}
    </div>
    
    <script src={{ asset('js/script.js') }}></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>