<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Maengdok">
        <meta name="description" content="Hanbeop (한법) fournit une base de données des points de grammaire coréens traduit en français.">
        <title>{% block title %}Hanbeop{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <!-- troisième-génération iPad avec haute-résolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('img/hanbeop-logo-mini.png') }}">
        <!-- iPhone avec haute-résolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('img/hanbeop-logo-mini.png') }}">
        <!-- iPad de première et deuxième génération : -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('img/hanbeop-logo-mini.png') }}">
        <!-- iPhone non-Retina, iPod Touch et appareils Android 2.1+: -->
        <link rel="apple-touch-icon-precomposed" href="{{ asset('img/hanbeop-logo-mini.png') }}">
        <!-- favicône de base -->
        <link rel="shortcut icon" href="{{ asset('img/hanbeop-logo-mini.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        {% include "includes/_navbar.html.twig" %}
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <img id="skflag" src="{{ asset('img/800px-Flag_of_South_Korea.svg.png') }}" alt="skflag">

        {% include "includes/_footer.html.twig" %}

        {% block javascript %}
            <script src="{{ asset('js/script.js') }}"></script>

            <!-- ADDED "Source Han Serif Korean" Light, Regular, Bold -->
            <script>
                (function(d) {
                    var config = {
                    kitId: 'fyf4rzh',
                    scriptTimeout: 3000,
                    async: true
                    },
                    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
                })(document);
            </script>

            <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
