{% extends 'adminBase.html.twig' %}

{% block title %}Meaning index{% endblock %}

{% block body %}
<div class="row d-flex">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex justify-content-end">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Significations</li>
        </ol>
    </nav>
</div>
    <h1>Significations</h1>
    <a href="{{ path('admin_meaning_new') }}"><button class="btn btn-outline-success px-4"><i class="fas fa-plus"></i></button></a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Grammaire</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meaning in meanings %}
            <tr>
                <td>{{ meaning.id }}</td>
                <td>{{ meaning.grammar.title }}</td>
                <td>{{ meaning.content }}</td>
                <td class="d-flex d-inline">
                    <a href="{{ path('admin_meaning_show', {'id': meaning.id}) }}"><button class="btn btn-outline-primary px-4 mx-2"><i class="far fa-eye"></i></button></a>
                    <a href="{{ path('admin_meaning_edit', {'id': meaning.id}) }}"><button class="btn btn-outline-warning px-4 mx-2"><i class="far fa-edit"></i></button></a>
                    {% include "Admin/admin_meaning/_delete_form.html.twig" %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_meaning_new') }}"><button class="btn btn-outline-success px-4"><i class="fas fa-plus"></i></button></a>
{% endblock %}
